<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portuguese language corpus Analyses</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.12/codemirror.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <div class="container">
        <header class="header">
            <div class="header-text">
                <h1>Zipf-law overview</h1>
                <p>Portuguese language corpus Analyses</p>
            </div>
            <div class="header-buttons" id="data-buttons">
                <span class="skill-tag" id="average-btn"></span>
                <span class="skill-tag" id="stddev-btn"></span>
                <span class="skill-tag" id="variance-btn"></span>

            </div>
        </header>

        <div class="main-content">

            <aside class="sidebar">
                <section class="main-section card fade-in" id="section0">
                    <h2>Corpus Statistics</h2>
                    <p id="corpus_stats">Corpus contains:</p>
                </section>
            </aside>

            <main class="main-column">
                <section class="main-section card fade-in" id="section1">
                    <h2><a href="/frequency_table">Frequency table</a></h2>
                    <p>
                         This link takes you to the table of each portuguese word in the corpus with its number of occurrences.
                    </p>
                </section>

                <section class="main-section card fade-in" id="section2">
                    <h2><a href="/common_nouns">Common Nouns</a></h2>
                    <p>
                        Here you can find 50 most common/useful portuguese nouns with their english translations based on the corpus.
                    </p>
                </section>
            </main>
        </div>

        <footer class="footer">
            This is a project by Mateusz Bielówka and Berenike Banek, intended exclusively for educational purposes; commercial use is prohibited.
        </footer>

    </div>

<!--Skrypty:-->

    <script src="{{ url_for('static', filename='stats.js') }}"></script>






</body>
</html>